@model ContactInfo

<p>contact</p>
<ul class="flex">
    <li class="highlight">@Model.Name</li>
    <li class="highlight">@Model.PhoneNumber</li>
    <li class="highlight">@Model.Address</li>
    <li class="highlight">@Model.City, @Model.State @Model.Zipcode</li>
</ul>