@model ContactInfo

<p>contact</p>
<ul class="flex">
    <li class="">@Model.Name</li>
    <li class="">@Model.PhoneNumber</li>
    <li class="">@Model.Address</li>
    <li class="">@Model.City, @Model.State @Model.Zipcode</li>
</ul>